<h1><%= @astronaut.name %></h1>
<h3>Missions:</h3>
<% @astronaut.missions.alpha_ordered_missions.each do |mission| %>
   <ul>
      <li><%= mission.title %></li>
   </ul>
<% end %>

<h3>Add Mission to Astronaut:</h3>
<%= form_with url: "/astronauts/#{@astronaut.id}/missions", method: :post do |form| %>
   <%= form.label :mission_id %>
   <%= form.number_field :mission_id %>

   <%= form.submit "Add Mission" %>
<% end %>